<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="icon" href="https://img.icons8.com/material-outlined/24/000000/numbered-list.png">
	<title>Number Facts</title>
</head>
<body>
    
<nav>
  <a href="https://user.tjhsst.edu/2022mwu/" class='text'>Home</a>
  <a href="labs" class='text'>Labs</a>
</nav>
    
<h1>Facts About {{value}}</h1>

{{#each facts}}
    <p>{{this}}</p>
{{/each}}

{{num}}

</body>
</html>