<!DOCTYPE html>
<html>
<head>
    <title>Cookie Clicker</title>
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/cookie.png">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    
<nav>
  <a href="https://user.tjhsst.edu/2022mwu/" class='text'>Home</a>
  <a href="labs" class='text'>Labs</a>
</nav>
    
    <h1>Cookie Clicker Login</h1>
    <form action="../cookie" method="get">
        <label for="id_user">Username:</label>
	    <input type="text" id="id_user" name="f_user" placeholder="Enter Name"><br><br>
	    <button type="submit" value="Login">Login</button>
    </form>
</body>
</html>