<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="icon" href="https://img.icons8.com/material-outlined/24/000000/home--v2.png">
	<title>Home</title>
</head>
<body>

<nav>
  <a href="https://user.tjhsst.edu/2022mwu/" class='text' style='background-color:#f7e1f3'>Home</a>
  <a href="labs" class='text'>Labs</a>
</nav>
    
<h1>Home</h1>

<p>Welcome to my webpage!</p>

<a href='labs'>Labs</a><br>

</body>
</html>