<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="icon" href="https://img.icons8.com/material-outlined/24/000000/numbered-list.png">
	<title>Number Facts</title>
</head>
<body>

<nav>
  <a href="https://user.tjhsst.edu/2022mwu/" class='text'>Home</a>
  <a href="labs" class='text'>Labs</a>
</nav>

<h1>Number Facts</h1>

<form action="./num" method="get">
	<label for="id_val">Number:</label>
	<input type="text" id="id_val" name="f_val" placeholder="integer between 1-5"><br><br>

	<label for="id_facts">Facts:</label>
	<input type="text" id="id_facts" name="f_facts" placeholder="# of facts between 1-5"><br>

    <br>

	<button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>