<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="icon" href="https://img.icons8.com/material-outlined/24/000000/user--v1.png">
	<title>Profile</title>
</head>

<nav>
  <a href="https://user.tjhsst.edu/2022mwu/" class='text'>Home</a>
  <a href="labs" class='text'>Labs</a>
</nav>

<body>
	<p>
	Please
	<a href="{{login_link}}">
	    Login with Ion
	</a>
	</p>
</body>
</html>