<table class="center">
    <tr>
        <th>Name</th>
        <th>Points</th>
    </tr>
    {{#each results}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.points}}</td>
    </tr>
    {{/each}}
</table>
